.itemWrapper .card {
    width: 300px;
    height: 400px;
    text-align: center;
}

.itemListWrapper .card img {
    width:auto;
    height:auto;
    max-height: 100px;
    max-width: 100px;
    margin: auto;
    padding: 10px;
}

.itemWrapper .card img {
    width:auto;
    height:auto;
    max-height: 250px;
    max-width: 250px;
    margin: auto;
    padding: 10px;
}
