.card {
  width: 200px;
  height: 300px;
  text-align: center;
}

.card img {
  max-height: 100px;
  max-width: 100px;
  margin: auto;
  padding:10px;
}
.card .header {
font-weight: bold;
}

.diceValue {
  color:red;
}

.itemWrapper {
  display: flex;
  flex-wrap: wrap;
}
